[Unit]
Description=Pixel lightbar poweron
After=syslog.target

[Service]
ExecStart=/usr/local/bin/lightbar-service.sh "poweron"

[Install]
WantedBy=multi-user.target
